<div id="designbg">
  <div class="container mt-5  text-light">
  <div class="row mt-5 py-5">
      <div class="col-md-4">Build your module now</div>
      <div class="col-md-4">Jst.com's most popular form/survey page builder</div>
      <div class="col-md-4 text-right">
          <button class="btn btn-light " (click)="launch()">LAUNCH THE BUILDER</button>
      </div>
  </div>


 
  </div>
</div>
<div class="bg-dark text-light py-5">
  <div class="container">
      <div class="row">
      <small class="col-md-6">Supercharge your  workflow with jst free module template</small>
      <small class="col-md-6 text-right">&copy; Jst.com all right reserved</small>
      </div>
      </div>
</div>