<app-nav-link></app-nav-link>
<div class=" mt-md-5 py-md-5 mt-3">
  <div class="container">
      <div class="row">
          <div class="col-md-6 py-md-5 mt-md-5 mt-1 text-center">
              <h1 class="font-weight-light">Streamline your workflow</h1>
              <h5 class="text-secondary">Build lean, beautiful template with a clean and contemporary</h5>
              <h5 class="text-secondary">look to suit a range of purposes.</h5>
              <button class="btn btn-primary font-weight-bol border-0 mt-3" (click)="launch()">LAUNCH THE BUILDER</button>
          </div>
          <div class="col-md-6 mt-md-0 mt-5">
           <img src="../assets/img/art-1.jpg" alt="">
          </div>
        </div>
  </div>
 
  <div class=" mt-5 py-5" id="whatwedo">
      <div class="text-center">
          <h1 class="font-weight-light">All the tools you'll need</h1>
          <h5>Whether you’re building a welcome mat for your SaaS or a clean, corporate</h5>
          <h5>portfolio, Jst has your design needs covered.</h5>
      </div>
      <div class="container mt-5 py-5">
      <div class="card-columns">
          <div class="card bg-light">
            <div class="card-body text-center">
              <p class="card-text lead">Save time with a multitude of styled components designed to showcase your content</p>
            </div>
          </div>
          <div class="card bg-light">
            <div class="card-body text-center">
              <p class="card-text lead">
                  Construct mockups or production-ready pages in-browser with our module  Page Builder</p>
            </div>
          </div>
          <div class="card bg-light">
            <div class="card-body text-center">
              <p class="card-text lead">Take comfort in 6 months included support with a dedicated support forum</p>
            </div>
          </div>
          <div class="card bg-light">
            <div class="card-body text-center">
              <p class="card-text lead">Create information collection 
                with our custom module of any kind that will help your company collect data</p>
            </div>
          </div>  
          <div class="card bg-light">
            <div class="card-body text-center">
              <p class="card-text lead">help your staff gather information
                 quicklyour module are very customizable to your taste</p>
            </div>
          </div>
          <div class="card bg-light">
            <div class="card-body text-center">
              <p class="card-text lead ">
                
                    Save time with a multitude of styled components designed to showcase your content
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div>

  </div>
</div>
<app-footer></app-footer>
