<div class="col-lg-12 ">
  <div class="row">
    <div class="col-lg-2">
      <ol class="list-group">
        <li class="list-group-item list-group-item-action"
         [ngClass]="(module.moduleId===singleModule)?className:''"
         *ngFor="let module of moduleData"
          (click)="moduleClicked(module)">
          {{ module.moduleDesc}}
        </li>

      </ol>
    </div>
    <div class="col-lg-10 ">
      <div class="row ">

        <div class="input-group mb-3 col-6">
          <span class="input-group-text bg-info text-white" for="customer">Search Attribute</span>
          <input type="text" [(ngModel)]="searchBox"placeholder="Search Attribute" class="form-control">
        </div>



        <!-- <div class="col-4" >
        <div class="input-group mb-3">
          <label class="input-group-text bg-info text-white" for="status">Select Status</label>
          <select name="status" id title="Choose..." placeholder="Select Status" class="form-control form-select" [(ngModel)]="taskType" >
            <option selected>All</option>
            <option Value="New">New</option>
          
          </select>
        </div>
      </div> -->

        <div class="mb-3 col-2 ">
          <button (click)=add() data-toggle="modal" data-target="#createAttribute"
            class="btn btn-success float-right "><i class="fa fa-plus"></i>Add</button>
        </div>

        <div class="mb-3 col-2 ">
          <button (click)=refreshTasks() class="btn btn-danger float-right "><i class="fa fa-refresh"></i></button>
        </div>
      </div>

      <table class="table table-bordered  table-sm">
        <thead>
          <tr style="background-color: #1ABC9C;color: white;">
            <th>Id</th>
            <th>Description</th>
            <!-- <th>Status</th> -->
            <th>Attr Type</th>
            <th>Attr Length</th>
            <th>Created Time</th>
            <th>Active</th>
            <th >Edit/Delete</th>
          </tr>
        </thead>
        <tbody class="table-Info">

          <div *ngIf="attributeData.length==0">
            <label>No attribute data Found!</label>
          </div>
          <tr *ngFor="let attribute of attributeData | attributeFilter:searchBox">
            <td class="topis">{{ attribute.attributeId }}</td>
            <td class="topis"> {{ attribute.attrDesc }}</td>
            <!-- <td class="topis"> {{ attribute.status }}</td> -->
            <td class="topis"> {{ attribute.attrType }}</td>
            <td class="topis"> {{ attribute.attrLength }}</td>
            <td class="topis"> {{ attribute.createdDate | date :"short" }}</td>
            <td class="topis"> {{ attribute.isActive }}</td>
            <td class="topis">
              <button type="button" (click)=showUpdate(attribute) data-toggle="modal" data-target="#updateAttribute"
                title="View/update Module" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i>
                Open</button>
              <button type="button" (click)=deleteAttribute(attribute) title="delete"
                class="btn btn-danger ml-2 btn-sm"><i class="far fa-delete"></i>Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>



<div class="modal fade" id="createAttribute" tabindex="-1" role="dialog" aria-labelledby="createAttributeTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white" id="createAttributeTitle">Create Attribute</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <form #moduleForm="ngForm" (ngSubmit)="createAttribute()" class="container col-12">
          <div class="row">
            <div class="form-group col-6">
              <label for="inputModuleDes">Module Id</label>
              <input type="number" readonly [(ngModel)]="attributeForm.moduleMasterId" required name="moduleId"
                class="form-control">
            </div>
            <div class="form-group col-6">
              <label for="inputModuleDes">Company Id</label>
              <input type="number" readonly [(ngModel)]="attributeForm.companyId" required name="companyId"
                class="form-control" id="inputModuleDes">
            </div>
            <div class="form-group col-6">
              <label for="inputModuleDes">Attribute description</label>
              <input type="text" #attrDesc="ngModel" [(ngModel)]="attributeForm.attrDesc" required name="attrDesc" class="form-control mb-1"
                id="inputModuleDes" placeholder="Description">
                <small *ngIf="attrDesc.invalid&&attrDesc.touched" class="alert alert-danger d-block">Field is required</small>
            </div>
            <div class="form-group col-6">
              <label for="inputModuleDes">Attribute Length</label>
              <input type="number" class="mb-1" #attrLength="ngModel" [(ngModel)]="attributeForm.attrLength" required name="attrLength"
                class="form-control" id="attrLength">
                <small *ngIf="attrLength.invalid&&attrLength.touched" class="alert alert-danger d-block">Field is required</small>
            </div>

            <div class="mt-0 col-6">
              <label for="">Input Control Types</label>
              <select name="inputControlType" class="custom-select "
                (change)="selectAtrribute($event.currentTarget.value)" [(ngModel)]="attributeForm.inputControlType">

                <option value="" disabled selected class="small"> Select Input Type </option>
                <option [value]="i+1" *ngFor="let attr of inputControlTypes; let i = index">{{attr}}</option>


              </select>
            </div>

            <div class="mt-2 col-6" *ngIf="dropDown">
              <label for=""> Attribute Dependency</label>
              <select name="attrDependency" class="custom-select" [(ngModel)]="attributeForm.attrDependency">

                <option value="" selected>Select Type</option>
                <option [value]="attr" *ngFor="let attr of lookUpRef">{{attr}}</option>


              </select>
            </div>
            <div class="form-group col-6" *ngIf="showInput">
              <label for="inputModuleDes"> Attribute Type</label>

              <select name="attrType" class="custom-select" [(ngModel)]="attributeForm.attrType">

                <option value="" disabled selected>Select Type</option>
                <option [value]="i+1" *ngFor="let attr of attributTypes; let i = index">{{attr}}</option>


              </select>
            </div>
            <div class="mt-0 col-6" *ngIf="showBtn">
              <label for="">Action Type</label>
              <select name="action" class="custom-select" [(ngModel)]="attributeForm.action">

                <option value="" disabled selected>Select Type</option>
                <option [value]="i+1" *ngFor="let attr of actionTypes; let i = index">{{attr}}</option>


              </select>
            </div>
            <div class="form-check col-12 d-block m-2">
              <input class="form-check-input" [(ngModel)]="attributeForm.status" required type="checkbox" value=""
                name="inputModuleIsActive" id="inputModuleIsActive" checked>
              <label class="form-check-label" for="inputModuleIsActive">
                Is Active
              </label>

            </div>
            <div class="">
              <button type="submit" [disabled]="moduleForm.form.invalid"  class="btn btn-primary mr-2">Create</button>

              <button type="button" (click)=closeModal() class="btn btn-secondary float-right"
                data-dismiss="modal">Close</button>
            </div>

          </div>
        </form>
      </div>
      <div *ngIf="popUpMsg!=null" class="alert alert-success" role="alert">
        {{popUpMsg}}
      </div>




    </div>
  </div>
</div>



<div class="modal fade" id="updateAttribute" tabindex="-1" role="dialog" aria-labelledby="updateAttributeTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white" id="updateAttributeTitle">Update Attribute</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #moduleForm="ngForm" (ngSubmit)="updateAttribute()">

          <div class="row">
            <div class="form-group col-6">
              <label for="inputModuleDes">Module Id</label>
              <input type="number" readonly [(ngModel)]="attributeForm.moduleMasterId" required name="moduleId"
                class="form-control">
            </div>
            <div class="form-group col-6">
              <label for="inputModuleDes">Company Id</label>
              <input type="number" readonly [(ngModel)]="attributeForm.companyId" required name="companyId"
                class="form-control" id="inputModuleDes">
            </div>
            <div class="form-group col-6">
              <label for="inputModuleDes">Attribute description</label>
              <input type="text" #attrDesc="ngModel" [(ngModel)]="attributeForm.attrDesc" required name="attrDesc" class="form-control mb-1"
                id="inputModuleDes" placeholder="Description">
                <small *ngIf="attrDesc.invalid&&attrDesc.touched" class="alert alert-danger d-block">Field is required</small>
            </div>
            <div class="form-group col-6">
              <label for="inputModuleDes">Attribute Length</label>
              <input type="number" class="mb-1" #attrLength="ngModel" [(ngModel)]="attributeForm.attrLength" required name="attrLength"
                class="form-control" id="attrLength">
                <small *ngIf="attrDesc.invalid&&attrDesc.touched" class="alert alert-danger d-block">Field is required</small>
            </div>

            <div class="mt-0 col-6">
              <label for="">Input Control Type</label>
              <select name="inputControlType" class="custom-select "
                (change)="selectAtrribute($event.currentTarget.value)" [(ngModel)]="attributeForm.inputControlType">

                <option value="" disabled selected class="small"> Select Input Type </option>
                <option [value]="i+1" *ngFor="let attr of inputControlTypes; let i = index">{{attr}}</option>


              </select>
            </div>

            <div class="mt-2 col-6" *ngIf="dropDown">
              <label for=""> Attribute Dependency</label>
              <select name="attrDependency" class="custom-select" [(ngModel)]="attributeForm.attrDependency">

                <option value="" selected>Select Type</option>
                <option [value]="i" *ngFor="let attr of lookUpRef; let i=index">{{attr}}</option>


              </select>
            </div>
            <div class="form-group col-6" *ngIf="showInput">
              <label for="inputModuleDes"> Attribute Type</label>

              <select name="attrType" class="custom-select" [(ngModel)]="attributeForm.attrType">

                <option value="" disabled selected>Select Type</option>
                <option [value]="i+1" *ngFor="let attr of attributTypes; let i = index">{{attr}}</option>


              </select>
            </div>
            <div class="mt-0 col-6" *ngIf="showBtn">
              <label for="">Action Type</label>
              <select name="action" class="custom-select" [(ngModel)]="attributeForm.action">

                <option value="" disabled selected>Select Type</option>
                <option [value]="i+1" *ngFor="let attr of actionTypes; let i = index">{{attr}}</option>


              </select>
            </div>
            <div class="form-check col-12 d-block m-2">
              <input class="form-check-input" [(ngModel)]="attributeForm.status" required type="checkbox" value=""
                name="inputModuleIsActive" id="inputModuleIsActive" checked>
              <label class="form-check-label" for="inputModuleIsActive">
                Is Active
              </label>

            </div>
            <div class="">
              <button type="submit" [disabled]="moduleForm.form.invalid" class="btn btn-primary mr-2">Create</button>

              <button type="button" (click)=closeModal() class="btn btn-secondary float-right"
                data-dismiss="modal">Close</button>
            </div>

          </div>

        </form>
      </div>
      <div *ngIf="popUpMsg!=null" class="alert alert-success" role="alert">
        {{popUpMsg}}
      </div>




    </div>
  </div>
</div>