<nav class="navbar    navbar-expand-sm  navbar-dark">
    <!-- Brand/logo -->
    
    
    <!-- Links -->
    <div class="container">
      
       <div class=" container">
        <ul class="navbar-nav ">
            <h1 class="  font-weight-bolder  mr-5" href="#">JST.com</h1>
          <li class="nav-item">
            <a class="nav-link text-light" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/customer">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="support">Contact</a>
          </li>
         
        </ul>
       </div>
       <div class=" container justify-content-end">
        <ul class="navbar-nav ">
           
         
          <li class="nav-item mt-n2">
            <a class="nav-link text-light small" href="/login">REGISTER/LOGIN</a>
          </li>
         
          <!-- <li class="nav-item">
           <button class="btn btn-primary" (click)="logout()">logout</button> 
          </li> -->
        </ul>
       </div>
    </div>
</nav>  