<app-nav-link></app-nav-link>


<div class="container mt-5">
    <div class="row mt-5 py-5">
        <h4 class="col-12 lead">Login if you are an existing customer</h4>
        <div class="col-md-6 mt-5">
           
            <form  (ngSubmit)="doLogin()" ngNativeValidate>
                <div class="form-group">
                  <label for="email" class="small">Email address:</label>
                  <input type="email" [(ngModel)]="user.userEmail" required class="form-control rounded-0" name="email" placeholder="Enter email" id="email">
                </div>
                <div class="form-group">
                  <label for="pwd" class="small">Password:</label>
                  <input type="password" [(ngModel)]="user.password" required class="form-control rounded-0" name="password" placeholder="Enter password" id="pwd">
                </div>
                
                <button type="submit" class="btn col-12 rounded-0 py-2 btn-primary"> Sign In</button>
              </form>
              
        </div>
        <div class="col-md-6 mt-5 border py-5">
            <h6>New to JST.com?</h6>
            <small>Create information collection with our custom module of any kind  </small>
            <small>that will help your company collect data </small>
            <small>help your staff gather information quickly</small>
            <small>our module are very customizable to your taste</small>
            <button type="submit" class="btn text-light mt-4 rounded-0 py-2 col-12" (click)="redirectToRegister()">Register for an account</button>
        </div>
    </div>
</div>
<app-footer></app-footer>