<div class="col-lg-12 ">
  
  <div class="row ">
    
    <div class="input-group mb-3 col-4" >
      <span class="input-group-text bg-info text-white" for="customer" >Search Module</span>
      <input type="text"  placeholder="Search Module" class="form-control"  >
    </div>


 
    <div class="col-2" >
      <div class="input-group mb-3">
        <label class="input-group-text bg-info text-white" for="status">Select Status</label>
        <select name="status" id title="Choose..." placeholder="Select Status" class="form-control form-select" [(ngModel)]="taskType" >
          <option selected>All</option>
          <option Value="New">New</option>
          <!-- <option Value="Progress">Progress</option>
          <option Value="Resolved">Resolved</option>
          <option Value="Closed">Closed</option> -->
        </select>
      </div>
    </div>

    <div class="col-4" >
      <button type="button" class="input-group-text bg-success text-white " data-toggle="modal" data-target="#exampleModalLong">
        Add Module
      </button>
    </div>

  <div class="mb-3 col-2 ">
    <button (click)=refreshTasks() class="btn btn-danger float-right "><i class="fa fa-refresh"></i></button>
  </div>
    </div>
   
      <table class="table table-bordered  table-sm">
        <thead >
          <tr  style="background-color: #1ABC9C;color: white;">
            <th>Module Id</th>
            <th >Module Desc</th>
            <th >Status</th>
            <!-- <th >Created By</th> -->
            <th >Created Time</th>
            <th >Active</th>
            <th >Edit/Delete</th>
          </tr>
        </thead>
        <tbody class="table-Info">  
                
            <div *ngIf = "moduleData.length==0">
              <label >No {{moduleData}} module data Found!</label>
            </div>
            <tr *ngFor="let module of moduleData "  >
            <td class="topis">{{ module.moduleId }}</td>
            <td class="topis"> {{ module.moduleDesc }}</td>
            <td class="topis" > {{ module.status }}</td>
            <!-- <td class="topis"> {{ task.createdBy }}</td> -->
            <td class="topis"> {{ module.createdDate.substring(0,10) }}</td>
            <td class="topis"> {{ module.isActive }}</td>
            <td class="topis" >       
              <button type="button" (click)=showUpdate(module) data-toggle="modal" data-target="#updateModalLong" title="View/update Module" class="btn btn-primary btn-sm" ><i class="fa fa-eye"></i> Open</button>
              <button type="button" (click)=deleteModule(module.moduleId) title="delete" class="btn btn-danger ml-2 btn-sm" ><i class="far fa-delete"></i>Delete</button>
            </td>
          </tr>
        </tbody>
      </table>



    <!-- Modal for crete module-->

    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content ">
          <div class="modal-header bg-dark">
            <h5 class="modal-title text-white" id="exampleModalLongTitle">Create Module</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class="text-white" aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #moduleForm="ngForm" (ngSubmit)="createModule()">

              <div class="form-group">
                <label for="inputModuleDes">Module description</label>
                <input type="text"  [(ngModel)]="newModule.moduleDesc" required name="inputModuleDes" class="form-control" id="inputModuleDes" placeholder="Description">
              </div>
              <div class="form-check">
                <input class="form-check-input" [(ngModel)]="newModule.isActive" required type="checkbox" value="" name="inputModuleIsActive" id="inputModuleIsActive" checked>
                <label class="form-check-label" for="inputModuleIsActive">
                  Is Active
                </label>
                
              </div>
              <hr>
              <button type="submit" class="btn btn-primary"  >Create</button>
              
              <button type="button" class="btn btn-secondary float-right" (click)="resetPopUpMsg()" data-dismiss="modal">Close</button>
              
            </form>
          </div>
          <div *ngIf="popUpMsg!=null" class="alert alert-success" role="alert">
            {{popUpMsg}}
          </div>

          <hr>
          <button type="submit" class="btn btn-primary"  >Create</button>
          
          <button type="button" (click)=closeModal() class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
       
      </div>
      <div *ngIf="popUpMsg!=null" class="alert alert-success" role="alert">
        {{popUpMsg}}
      </div>
        </div>

    </div>


<!-- update -->

<div class="modal fade" id="updateModalLong" tabindex="-1" role="dialog" aria-labelledby="updateModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white" id="updateModalLongTitle">Update Module</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #moduleForm="ngForm" (ngSubmit)="updateModule()">

          <div class="form-group">
            <label for="inputModuleDes">Module description</label>
            <input type="text"  [(ngModel)]="newModule.moduleDesc" required name="inputModuleDes" class="form-control" id="inputModuleDes" placeholder="Description">
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="newModule.isActive" required type="checkbox" value="" name="inputModuleIsActive" id="inputModuleIsActive" checked>
            <label class="form-check-label" for="inputModuleIsActive">
              Is Active
            </label>
            
          </div>
          <hr>
          <button type="submit" class="btn btn-primary"  >Update</button>
          
          <button type="button" (click)=closeModal() class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
          
        </form>
      </div>
      <div *ngIf="popUpMsg!=null" class="alert alert-success" role="alert">
        {{popUpMsg}}
      </div>


            

        </div>
      </div>
    </div>
    
  </div>