<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="row ">
  <div class="col-2"></div>
  <div class="col-10 " >
    <div class="container-fluid">    
      <!-- <div class="breadcrumbs-two mt-2 mb-2 d-flex pointer">
        <div><h5><a >{{title}}</a></h5></div>        
      </div>   -->
      
      <div class="card card-2 mt-2 mb-2 d-flex">
        <h5 class="card_title">{{title}}</h5>       
      </div>

      </div>
  </div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-10 " >

      <router-outlet></router-outlet>
      </div>
      </div>

<app-footer></app-footer>