<div class="col-lg-12 ">
  
  <div class="row ">
    
    <div class="input-group mb-3 col-4" >
      <span class="input-group-text bg-info text-white" for="customer" >Search Lookup</span>
      <input type="text" [(ngModel)]="searchBox" placeholder="Search Lookup" class="form-control"  >
    </div>


 
    <div class="col-4" >
      <div class="input-group mb-3">
        <label class="input-group-text bg-info text-white" for="status">Select Ref Ids</label>
        <select name="status" id title="Choose..." placeholder="Select Status" class="form-control form-select" [(ngModel)]="taskType" >
          <option selected>All</option>
          <option [ngValue]="ref" *ngFor="let ref of lookupRefs">{{ref}}</option>
        </select>
      </div>
    </div>

    <div class="col-2" >
      <button type="button" class="input-group-text bg-success text-white " data-toggle="modal" data-target="#addLookup">
        Add Lookup
      </button>
    </div>

  <div class="mb-3 col-2 ">
    <button (click)=refreshTasks() class="btn btn-danger float-right "><i class="fa fa-refresh"></i></button>
  </div>
    </div>
   
      <table class="table table-bordered  table-sm">
        <thead >
          <tr  style="background-color: #1ABC9C;color: white;">
            <th>Lookup Id</th>
            <th >Lookup Ref Id</th>
            <th >Lookup Desc</th>
            <th >Status</th>
            <th >Active</th>
            <th >Edit/Delete</th>
          </tr>
        </thead>
        <tbody class="table-Info">  
                
            <div *ngIf = "lookupData.length==0">
              <label >No {{lookupData}} lookup data Found!</label>
            </div>
            <tr *ngFor="let lookup of lookupData"  >
            <td class="topis">{{ lookup.lookId }}</td>
            <td class="topis"> {{ lookup.lookRefId }}</td>
            <td class="topis">{{ lookup.lookDesc }}</td>
            <td class="topis"> {{ lookup.status }}</td>
            <td class="topis"> {{ lookup.isActive }}</td>
            <td class="topis" >       
              <button type="button" (click)=showUpdate(lookup) data-toggle="modal" data-target="#updateModalLong" title="View/update Lookup" class="btn btn-primary btn-sm" ><i class="fa fa-eye"></i> Open</button>
              <button type="button" (click)=deleteModule(lookup.lookId) title="delete" class="btn btn-danger ml-2 btn-sm" ><i class="far fa-delete"></i>Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

    <!-- Modal for crete lookup-->

    <div class="modal fade" id="addLookup" tabindex="-1" role="dialog" aria-labelledby="addLookupTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content ">
          <div class="modal-header bg-dark">
            <h5 class="modal-title text-white" id="exampleModalLongTitle">Create Lookup</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class="text-white" aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #moduleForm="ngForm" (ngSubmit)="createLookup()">

              <div class="form-group">
                <label for="inputIookRefId">Lookup Ref Id</label>
                <input type="text"  [(ngModel)]="newLookup.lookRefId" required name="inputModuleDes" class="form-control" id="inputIookRefId" placeholder="Lookup Ref Id">
              </div>
              <div class="form-group">
                <label for="inputLookupDes">Lookup Desc</label>
                <input type="text"  [(ngModel)]="newLookup.lookDesc" required name="inputModuleDes" class="form-control" id="inputLookupDes" placeholder="Lookup Description">
              </div>
              <div class="form-check">
                <input class="form-check-input" [(ngModel)]="newLookup.isActive" required type="checkbox" value="" name="inputModuleIsActive" id="inputModuleIsActive" checked>
                <label class="form-check-label" for="inputModuleIsActive">
                  Is Active
                </label>
                
              </div>
              <br>
              <div class="">
              <button type="submit" class="btn btn-primary"  >Create</button>
              
              <button type="button" class="btn btn-secondary float-right" (click)="resetPopUpMsg()" data-dismiss="modal">Close</button>
            </div>
            </form>
          </div>
        

      
       
      </div>
      <div *ngIf="popUpMsg!=null" class="alert alert-success" role="alert">
        {{popUpMsg}}
      </div>
      
        </div>

    </div>


  </div>