<div class="container mt-5 col-md-5 ">
    <h5 class="col-12 lead py-3">Create an account to have access to unlimited free custom  template</h5>
    <form  (ngSubmit)="createUser()" ngNativeValidate >
        <div class="form-group">
            <label for="username" class="small">Username:</label>
            <input type="text" [(ngModel)]="user.userName" required class="form-control rounded-0" name="username" placeholder="Enter username" >
          </div>
        <div class="form-group">
          <small class="text-danger d-block">{{errorMessage.email}}</small>
          <label for="email" class="small">Email address:</label>
          <input type="email" [(ngModel)]="user.userEmail" required  class="form-control rounded-0" name="email" placeholder="Enter email">
        </div>
        <div class="form-group">
          <small class="text-danger d-block">{{errorMessage.password}}</small>
          <label for="pwd" class="small">Password:</label>
          <input type="password" [(ngModel)]="user.userPassword"  required class="form-control rounded-0" name="password" placeholder="Enter password" id="pwd">
        </div>
        
        <button type="submit" class="btn col-12 rounded-0 py-2 text-light"> Sign Up</button>
      </form>
</div>
